<%- include ('./partials/header'); %>

    <!-- <h1> THIS is the signup page</h1>
    <form action="register" method="POST">
        <input type="text" name="username" placeholder="Username">
        <input type="password" name="password" placeholder="password">
        <button> Sign up</button>
    </form> -->

    <img src="assets/c1.jpg"/>
        <div class="fo" style="margin-left: 60%;margin-top: -25%;">
            <p style="margin-left: 10%;"><b>Sign Up</b></p>
            <form class="form-inline" action="register" method="POST">
        <div class="form-group mb-2">
          <label for="mail" class="sr-only">Username</label>
          <input type="text" class="form-control" name="username" placeholder="username">
        </div>
        <br><br>
        <div class="form-group mx-sm-3 mb-2">
          <label for="inputPassword2" class="sr-only">Password</label>
          <input type="password" class="form-control" name="password"  placeholder="Password">
        </div>
        <br><br>
        <button type="submit" class="btn btn-primary mb-2">Register</button>
      </form>
    </div>
    